<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2526.1362" targetFramework="net46" />
  <package id="cef.redist.x86" version="3.2526.1362" targetFramework="net46" />
  <package id="CefSharp.Common" version="47.0.2" targetFramework="net46" />
  <package id="CefSharp.OffScreen" version="47.0.2" targetFramework="net46" />
  <package id="JetBrains.dotMemoryUnit" version="2.1.20150828.125449" targetFramework="net46" />
</packages>