<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2526.1362" targetFramework="net46" />
  <package id="cef.redist.x86" version="3.2526.1362" targetFramework="net46" />
  <package id="CefSharp.Common" version="47.0.2" targetFramework="net46" />
  <package id="CefSharp.OffScreen" version="47.0.2" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net46" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net451" />
</packages>